<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>D-ERP</title>
    
    <!--css-->
	<link rel="stylesheet" type="text/css" href="../../Scripts/jqueryui/jquery-ui.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css">
	<link rel="stylesheet" type="text/css" href="../../css/layout.css">
	<link rel="stylesheet" type="text/css" href="../../css/portlet.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
	    
    <!--js-->
    <script type="text/javascript" src="../../Scripts/jquery-1.9.1.min.js"></script> 
	<script type="text/javascript" src="../../Scripts/jqueryui/jquery.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../Scripts/common.js"></script>
	
	<!-- mCustomScrollbar -->
    <link rel="stylesheet" type="text/css" href="../../Scripts/mCustomScrollbar/jquery.mCustomScrollbar.css"/>
    <script type="text/javascript" src="../../Scripts/mCustomScrollbar/jquery.mCustomScrollbar.js"></script>

	<!-- 메인 js -->
	<script type="text/javascript" src="../../Scripts/jquery.alsEN-1.0.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery.bxslider.min.js"></script>



	<script type="text/javascript">	
	$(document).ready(function() {
		//퀵
		$("#quick").als({
			visible_items: 5,
			scrolling_items: 1,
			orientation: "horizontal",
			circular: "yes",
			autoscroll: "yes",
			interval: 3000,
			direction: "left"
		});	

		//프로필팝업 온오프
		$(".divi_txt").on("click",function(){
			$(".profile_box").toggle();

		});
		//알림팝업 온오프
		$(".alert_btn").on("click",function(){
			$(".mention_alert_box").toggle();
		});
		
		//메뉴 더보기로 자동 복사
		gnb_menu();
		
		//카운트메뉴 펄스효과
		$(".fm_div_in span.cnt").siblings(".ico").addClass("cntPulse");
		
		
		//더보기 클릭시
		$(document).mouseup(function (e){
			if($(e.target).attr("moreBtn")  == null){
				$(".gnb_more").removeClass("on");
				$(".gnb_more_box").addClass("close");
				$(".gnb_more_box").removeClass("open");
			}
			else{
				 if (!$(".gnb_more").hasClass("on"))
				 {
					$(".gnb_more").addClass("on");
					$(".gnb_more_box").addClass("open");
					$(".gnb_more_box").removeClass("close");
				  
				 } else {
					 
				   $(".gnb_more").removeClass("on");
					$(".gnb_more_box").addClass("close");
					$(".gnb_more_box").removeClass("open");
				 }		
				var fmiCnt = $(".gnb_more_box .more_box_in > div").size();
				var fmihei= Math.round(fmiCnt/2)*77
				 $(".gnb_more_box.open .more_box_in").css("height",fmihei);
			}
		});
		
		//더보기 박스에서 마우스가 떠났을시 닫힘
		$(".more_box_in").mouseleave(function(){ 
			$(".gnb_more").removeClass("on");
			$(".gnb_more_box").addClass("close");
			$(".gnb_more_box").removeClass("open");
		});


		//접고 펼치기
			$(".toggle_btn").on("click",function(){
				$(this).toggleClass("down");
				$(this).parent().parent().find(".sub_detail").removeClass("animated1s fadeIn").toggleClass("animated1s fadeIn").toggle();
				
				//멘션 접고 펼치기
				if($(this).hasClass("down")){
					$(this).parent().parent().find(".mention_detail").removeClass("ellipsis").toggleClass("animated1s fadeIn");
				}else{
					$(this).parent().parent().find(".mention_detail").removeClass("animated1s fadeIn").toggleClass("ellipsis");
				}
			});
			
			// 알림 스크롤 이벤트
			$(".mention_alert_box .m_mentionCon").scroll(function(){
				$(".tag_date").css("top",$(this).scrollTop()+10);				
				TagInAm();
			});
			
			//스크롤 끝나면 이벤트
			$(".mention_alert_box .m_mentionCon").scrollEnd(function(){
				TagOutAm();
			},1000);

	});	

	//메뉴 더보기 박스로 복사
	function gnb_menu(){ 	 
	  var td_size = $(".m_ta table td").size();
	  var num = 8;
		if (td_size >10)
		 {
			$(".m_ta table td").eq(num).nextAll("td").hide();
			var menuCln = $(".m_ta table td").eq(num).nextAll("td").children(".fm_div").clone();
			$(".more_box_in").html(menuCln); 
			$(".m_ta table").css("marginRight","157px")
		  }		
	}
	</script>	

</head>
<body class="main_bg">
	<div class="portal_wrap expbg">
	<!-- 
	fm_ea 전자결재
	fm_ma 메일
	fm_sc 일정
	fm_wk 업무관리
	fm_bd 게시판
	fm_ds 인사/근태
	fm_ex 회계
	fm_dc 문서
	fm_mp 마이페이지
	fm_et 확장기능
	fm_of 원피스
	fm_st 시스템설정
	fm_cb 동호회
	-->
	<div class="gnb_menu"><!-- 메뉴 -->
		<div class="gnb_menu_in">
		<div class="m_ta">
			<table cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<div class="fm_div fm_ea">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">전자결재</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_ma">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">메일</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_sc">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">일정</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_wk">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">업무관리</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_bd">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">게시판</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_ds">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">인사/근태</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_st">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">시스템설정</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_at">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">회계</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_cb">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">동호회</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_dc">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">문서</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_of">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">ONEFFICE</div>
								<span class="cnt">99</span>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_mp">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">마이페이지</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_et">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">확장기능</div>
							</div>
						</div>
					</td>
					<td>
						<div class="fm_div fm_st">
							<div class="fm_div_in">
								<div class="ico"></div>
								<div class="ico_bg"></div>
								<div class="txt">시스템설정</div>
							</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="gnb_more" moreBtn="Y">
			<div class="fm_div plus" moreBtn="Y">
				<div class="fm_div_in" moreBtn="Y">
					<div class="ico" moreBtn="Y"></div>
					<div class="ico_bg" moreBtn="Y"></div>
					<div class="txt" moreBtn="Y">더보기</div>
				</div>
			</div>
		</div>
		<div class="gnb_more_box">
			<div class="more_box_in">
				
			</div>
		</div>
		</div><!--// gnb_menu_in -->
	</div><!--// 메뉴 -->


	<!-- main_wrap -->
	<div class="main_wrap">			    		
		<div class="portletGrid grid10 nonGrid">
			
			<!-- 포틀릿 영역 --------------------------------------------------------------------------------------------------->
			<div class="portletDiv" style="height:870px;">
				
				<!-- 아이프레임 박스 (내정보 2*2) -->
				<div style="top:8px;left:8px" class="portletBox col2 row2">
					<div class="ptl_content nocon">						
						<div class="userinfo">
							<!-- 접속자 정보 -->
							<div class="user">
								<div class="user_pic">
									<div class="bg_pic"></div>
									<span class="img_pic">
										<!-- <img src="../../Images/bg/pic_Noimg.png" alt="" /> -->
										<img src="../../Images/temp/temp_pic.png" alt="" />
									</span>				
								</div>
								<div class="mb10 name">정현수 이사</div>
								<div class="Scon_ts">(주)더존비즈온</div>
							</div>
							<!-- 출근/퇴근 -->
							<div class="worktime">
								<div id="container">
									<ul class="tabs">
										<li class="active" rel="tab1">출근</li>
										<li rel="tab2">퇴근</li>
									</ul>
									<div class="tab_container">
										<div id="tab1" class="tab_content"><em>출근</em> 2018.12.24 월요일 08:31:09</div>
										<div id="tab2" class="tab_content" style="display:none"><em>퇴근</em> 2018.12.24 월요일 16:31:09</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
							
				
				
				<!-- 아이프레임 박스 (배너2*4) -->
				<div style="top:8px;left:244px" class="titleBox col4 row2">
					<h2 class="wk">
						<span>업무요청</span>
					</h2>
					<div class="ptl_content">
						<div class="JobRequest">
							<ul>
								<li class="bg01">
									<p>경비청구 </br><em>15</em>건</p>
								</li>
								<li class="bg02">
									<span>긴급</span>
									<p>증명서신청 </br><em>15</em>건</p>
								</li>
								<li class="bg03">
									<p>세금계산서 </br><em>15</em>건</p>
								</li>
								<li class="bg04">
									<p>전자계약 </br><em>15</em>건</p>
								</li>
							</ul>
						</div>
					</div>
				</div>


				<!-- 타이틀 박스 (일정캘린더-가로형4*2) -->
				<div style="top:8px;left:716px" class="titleBox col4 row2">
					<!-- 타이틀 영역 -->
					<h2 class="sc">
						<span>일정캘린더</span>
					</h2>
					<div class="ptl_content">
						<!-- 컨텐츠 영역 :: 최초 컨텐츠 미설정 시 .ptl_content가 비어있으면  .nocon 클래스 생성-->
						<div class="ptl_calendar horizontal">
							<div class="calendar_wrap">
								<div class="select_date">
									<a title="이전" class="prev" href="#n"></a>
									<span id="">2018.12</span>
									<a title="다음" class="next" href="#n"></a>
								</div>
	
								<div  class="calender_ta" name="calenderTable">
								  <table cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<th class="sun">일</th>
											<th>월</th>
											<th>화</th>
											<th>수</th>
											<th>목</th>
											<th>금</th>
											<th class="sat">토</th>
										</tr>
										<tr>
											<td class="sun other_mon"><a name="26" title="" onclick="#">26</a></td>
											<td class="other_mon"><a name="27" title="" onclick="#">27</a></td>
											<td class="other_mon"><a name="28" title="" onclick="#">28</a></td>
											<td class="other_mon"><a name="29" title="" onclick="#">29</a></td>
											<td class="other_mon "><a name="30" title="" onclick="#"class="special_day">30</a></td>
											<td class="other_mon"><a name="31" title="" onclick="#">31</a></td>
											<td class="sat"><a name="1" title="" class="schedule" onclick="#">1</a></td>
										</tr>
										<tr>
											<td class="sun"><a name="2" title="" onclick="#">2</a></td>
											<td><a name="3" title="" onclick="#">3</a></td>
											<td><a name="4" title="" onclick="#">4</a></td>
											<td><a name="5" title="" onclick="#">5</a></td>
											<td><a name="6" title="" onclick="#">6</a></td>
											<td><a name="7" title="" onclick="#">7</a></td>
											<td class="sat"><a name="8" title="" onclick="#">8</a></td>
										</tr>
										<tr>
											<td class="sun"><a name="9" title="" onclick="#">9</a></td>
											<td><a name="10" title="" onclick="#">10</a></td>
											<td><a name="11" title="" onclick="#">11</a></td>
											<td><a name="12" title="" onclick="#">12</a></td>
											<td><a name="13" title="" onclick="#">13</a></td>
											<td><a name="14" title="" class="today" onclick="#">14</a></td>
											<td class="sat"><a name="15" title="" onclick="#">15</a></td>
										</tr>
										<tr>
											<td class="sun"><a name="16" title="" onclick="#">16</a></td>
											<td><a name="17" title="" onclick="#">17</a></td>
											<td><a name="18" title="" onclick="#">18</a></td>
											<td><a name="19" title="" onclick="#">19</a></td>
											<td><a name="20" title="" onclick="#">20</a></td>
											<td><a name="21" title="" onclick="#">21</a></td>
											<td class="sat"><a name="22" title="" onclick="#">22</a></td>
										</tr>
										<tr>
											<td class="sun"><a name="23" title="" onclick="#">23</a></td>
											<td><a name="24" title="" onclick="#">24</a></td>
											<td><a name="25" title="" onclick="#">25</a></td>
											<td><a name="26" title="" onclick="#">26</a></td>
											<td><a name="27" title="" class="selon" onclick="#">27</a></td>
											<td><a name="28" title="" onclick="#">28</a></td>
											<td class="sat"><a name="29" title="" onclick="#">29</a></td>
										</tr>
										<tr>
											<td class="sun"><a name="30" title="" onclick="#">30</a></td>
											<td><a name="31" title="" onclick="#">31</a></td>
											<td class="other_mon"><a name="1" title="" onclick="#">1</a></td>
											<td class="other_mon"><a name="2" title="" onclick="#">2</a></td>
											<td class="other_mon"><a name="3" title="" onclick="#">3</a></td>
											<td class="other_mon"><a name="4" title="" onclick="#">4</a></td>
											<td class="other_mon sat"><a name="5" title="" onclick="#">5</a></td>
										</tr>
									</tbody>
								  </table>
								</div>                
							</div>
							
							<div class="horizon_right">
								<!-- 항목셀렉트 -->
								<div class="calendar_select">
									<select style="width:100%;">
										<option value="total" selected="selected">전체일정</option>
										<option value="indivi">개인일정</option>
										<option value="share">공유일정</option>
										<option value="special">기념일</option>
									</select>
								</div>
								
								<!-- 리스트 -->
								<div class="calendar_div st1" style="display:block">
									<h3>2018.12.24 <span class="fr mr20 fwn"><span class="text_blue fwb">8</span>건</span></h3>
									<div class="calendar_list ScrollY">
										<ul>
											<li>
												<span class="time">09:00~18:00</span> 
												<span class="txt">서버 이전작업</span>
											</li>
											<li>
												<span class="time">09:00~10:00</span> 
												<span class="txt">임직원 성과목표 교육</span>
											</li>
											<li>
												<span class="time">11:00~12:00</span> 
												<span class="txt">솔루션 업체 미팅솔루션 업체 미팅</span>
											</li>
											<li>
												<span class="time">14:00~16:00</span> 
												<span class="txt">솔루션 업체 미팅솔루션 업체 미팅</span>
											</li>
											<li>
												<span class="time">15:00~18:00</span> 
												<span class="txt">고객사 방문</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
												
				
				<!-- 타이틀 박스 (받은편지함 2*2) -->
				<div style="top:244px;left:8px" class="titleBox col2 row2">
					<!-- 타이틀 영역 -->
					<h2 class="ma">
						<span>받은편지함</span>
						<a href="#n" class="more" title="더보기"></a>
					</h2>
					<div class="ptl_content ScrollY">					
						<div class="ptc_box2">            
							<div class="ptl_mail">
								<ul>
									<li class="unlead line">
										<dl>
											<dt class="title"><a href="#n">주간업무보고서 송부</a></dt>
											<dd class="from_info f11">관리자(admin@douzone.com)</dd>
										</dl>
									</li>
									<li class="unlead line">
										<dl>
											<dt class="title"><a href="#n">견적서와 세금계산서</a></dt>
											<dd class="from_info f11">관리자(admin@douzone.com)</dd>
										</dl>
									</li>
									<li class="line">
										<dl>
											<dt class="title"><a href="#n">미팅일정 안내</a></dt>
											<dd class="from_info f11">관리자(admin@douzone.com)</dd>
										</dl>
									</li>
									<li class="line">
										<dl>
											<dt class="title"><a href="#n">더존 뉴스 모니터링 20190508</a></dt>
											<dd class="from_info f11">김성훈A (kppl@douzone.com)</dd>
										</dl>
									</li>
									<li class="line">
										<dl>
											<dt class="title"><a href="#n">[공지] 미리 써보는 ONEFFICE Mobile</a></dt>
											<dd class="from_info f11">관리자(admin@douzone.com)</dd>
										</dl>
									</li>
									<li class="line">
										<dl>
											<dt class="title"><a href="#n">더존 뉴스 모니터링 20190507</a></dt>
											<dd class="from_info f11">관리자(admin@douzone.com)</dd>
										</dl>
									</li>
								</ul>
							</div>
						</div>
					
					</div>					
				</div>
				

								
				<!-- 타이틀 박스 -->
				<div style="top:244px;left:244px" class="titleBox col4 row2">
					<h2 class="exp">
						<span>금일 주요 지출예정(06/01)</span>
						<span class="exp_more">이체내역</span>
					</h2>					
					<div class="ptl_content">
						<div class="exp_today ScrollY">
							<ul>
								<li class="img"><img src="../../Images/temp/exp_today_img01.jpg" alt=""/></li>
								<li class="text ellipsis"><a href="#n">06월 직원급여 외 5건</a></li>
								<li class="btn blue">지출완료</li>
							</ul>
							<ul>
								<li class="img"><img src="../../Images/temp/exp_today_img02.jpg" alt=""/></li>
								<li class="text ellipsis"><a href="#n">외주 용역비 외 3건</a></li>
								<li class="btn red">지출대기</li>
							</ul>
							<ul>
								<li class="img"><img src="../../Images/temp/exp_today_img03.jpg" alt=""/></li>
								<li class="text ellipsis"><a href="#n">건물임대료 외 4건</a></li>
								<li class="btn red">지출대기</li>
							</ul>
							<ul>
								<li class="img"><img src="../../Images/temp/exp_today_img04.jpg" alt=""/></li>
								<li class="text ellipsis"><a href="#n">판매수수료 지급 외 11건</a></li>
								<li class="btn gray">지급보류</li>
							</ul>
						</div>
					</div>
				</div>
				
								
				
				<!-- 타이틀 박스 -->
				<div style="top:244px;left:716px" class="titleBox col4 row2">
					<!-- 타이틀 영역 -->
					<h2 class="exp">
						<span>부서별 경비청구 진행률</span>
					</h2>
					<div class="ptl_content">

						<ul class="exp_progress">
							<li class="graph"><img src="../../Images/temp/ebpExpMain_ptl01.jpg" alt=""/></li>
							<li class="fl mt30 mr20">
								<dl>
									<dt>
										<span class="num">1</span>
										<span>영업사업1팀</span>
										<span class="cl price">100,000,000</span>
									</dt>
									<dd style="width:170px;">
										<div class="progress-linear">
											<div class="progressBg">
												<div class="bar" style="width:100%; background:#5f80e9; border-radius:0px;">
													<span class="percent">100%</span>
												</div>
											</div>
										</div>
									</dd>
								</dl>
								<dl>
									<dt>
										<span class="num">2</span>
										<span>마케팅1팀</span>
										<span class="cl price">100,000,000</span>
									</dt>
									<dd style="width:170px;">
										<div class="progress-linear">
											<div class="progressBg">
												<div class="bar" style="width:72%; background:#6199ff;">
													<span class="percent">72%</span>
												</div>
											</div>
										</div>
									</dd>
								</dl>
								<dl>
									<dt>	
										<span class="num">3</span>
										<span>개발1팀</span>
										<span class="cl price">100,000,000</span>
									</dt>
									<dd style="width:170px;">
										<div class="progress-linear">
											<div class="progressBg">
												<div class="bar" style="width:56%; background:#6fa7f2;">
													<span class="percent">56%</span>
												</div>
											</div>
										</div>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</div>



				<!-- 타이틀 박스 -->
				<div style="top:480px;left:8px" class="portletBox col2 row2">
					<div class="portletBox_link">
						<p>
							<a href="#n" class="link01">경비지출</a>
							<a href="#n" class="link03">재직증명서</a>
						</p>
						<p class="pt20">						
							<a href="#n" class="link03">급여내역조회</a>
							<a href="#n" class="link04">개인연말정산</a>
						</p>
					</div>
				</div>



				<!-- 타이틀 박스 -->
				<div style="top:480px;left:244px" class="titleBox col4 row2">
					<!-- 타이틀 영역 -->
					<h2 class="ea">
						<span>회계결재 진행현황</span>
					</h2>
					<div class="ptl_content">
						<div class="exp_status">
							<p class="graph"><img src="../../Images/temp/exp_ea.jpg" alt=""/></p>
							<div class="list">
								<ul>
									<li>
										<a href="#n" class="fl ellipsis" style="width:170px;">2018년 5월 자금일보</a>
										<span class="btn blue">완료</span>
									</li>
									<li>
										<a href="#n" class="fl ellipsis" style="width:170px;">영업팀 자금계획 결재의 건</a>
										<span class="btn red">결재중</span>
									</li>
									<li>
										<a href="#n" class="fl ellipsis" style="width:170px;">2017 회계감사자료 지출결의</a>
										<span class="btn purple">상신</span>
									</li>
									<li>
										<a href="#n" class="fl ellipsis" style="width:170px;">자금이체 관련 결재의 건</a>
										<span class="btn blue">완료</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
								
				
				
				
				<!-- 타이틀 박스 (노트2*2) -->
				<div style="top:480px;left:716px" class="titleBox col2 row2">
					<!-- 타이틀 영역 -->
					<h2 class="bd">
						<span>주요 회계업무</span>
					</h2>
					<div class="ptl_content">
						<div class="exp_major">
							<ul>
								<li class="list"><a href="#n"><span class="major01"></span>월말 결산보고</a></li>
								<li class="day red">1일전</li>
							</ul>
							<ul>
								<li class="list"><a href="#n"><span class="major02"></span>부가세 마감신고</a></li>
								<li class="day red">3일전</li>
							</ul>
							<ul>
								<li class="list"><a href="#n"><span class="major03"></span>고용/산재 변경신고</a></li>
								<li class="day blue">06/20</li>
							</ul>
							<ul>
								<li class="list"><a href="#n"><span class="major04"></span>출장자 마감보고</a></li>
								<li class="day blue">06/25</li>
							</ul>
						</div>
					</div>
				</div>
				
				
				
				
				<!-- 타이틀 박스 (공지사항 2*2) -->
				<div style="top:480px;left:952px" class="titleBox col2 row2">
					<!-- 타이틀 영역 -->
					<h2 class="bd">
						<span>공지사항</span>
						<a href="#n" class="more" title="더보기"></a>
					</h2>
					<div class="ptl_content ScrollY">		
						<div class="exp_notice">
							<ul>
								<li class="new"><a href="#n">통근버스노선표안내 <img src="../../Images/ico/icon_new.png" class="mtImg" alt=""/></a></li>
								<li><a href="#n">2017년 귀속분 연말정산 세법</a></li>
								<li><a href="#n">더존베이커리 2018년 1월 메뉴</a></li>
								<li><a href="#n">1월 3주차 주간메뉴 안내</a></li>
								<li><a href="#n">통근버스 노선안내 (노선표 첨부 / 2018. 12. 03(월)부터 시행.)</a></li>
								<li><a href="#n">AT 자격시험 기술감독관 교육</a></li>

							</ul>
						</div>
					</div>
				</div>
				
						
				<!-- quick -->			
				<div style="top:716px;left:8px" class="iframeBox col10 row1">
					<div class="ptl_content">
						<div class="i_quick">
							<div id="quick">
								<span class="als-prev"><img src="../../Images/btn/btn_quick_prev.png" alt="이전" /></span>
								<div class="als-viewport">
									<ul class="als-wrapper">
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick01.png" alt="신설법인 경영도우미" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick02.png" alt="더존홈페이지 개편안내" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick03.png" alt="2015년 부가가치세신고 실무강좌" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick04.png" alt="하계직무연수 안내" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick05.png" alt="더존 Smart A 클라우드 에디션 7가지 효익" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick06.png" alt="더존 전국  IT 코디센터" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick07.png" alt="더존 그린팩스" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick08.png" alt="통합정보화 솔루션구축 방안 세미나" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick09.png" alt="정보화 추진 전략 세미나" /></a></li>
										<li class="als-item"><a href="#" target="_blank"><img src="../../Images/temp/quick10.png" alt="더존 온라인 고객센터" /></a></li>
									</ul>
								</div>
								<span class="als-next"><img src="../../Images/btn/btn_quick_next.png" alt="다음" /></span>
							</div>
						</div>
					</div>
				</div>



		
				
				
			</div><!-- //포틀릿 영역 --------------------------------------------------------------------------------------------------->
		</div>
	</div>
</div>
	<!-- // main_wrap end -->
</body>
</html>